{
  "name": "congress-gov-sdk",
  "version": "{{npmVersion}}",
  "description": "Axios Typescript SDK for the Congress.gov API",
  "keywords": [
    "congress",
    "gov",
    "sdk",
    "api",
    "axios",
    "typescript"
  ],
  "homepage": "https://github.com/basonjar/congress-gov-sdk",
  "bugs": "https://github.com/basonjar/congress-gov-sdk/issues",
  "license": "{{licenseName}}",
  "repository": "github:basonjar/congress-gov-sdk",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
{{#supportsES6}}
  "module": "./dist/esm/index.js",
  "sideEffects": false,
{{/supportsES6}}
  "scripts": {
    "build": "tsc{{#supportsES6}} && tsc -p tsconfig.esm.json{{/supportsES6}}",
    "prepare": "npm run build",
    "test": "jest",
    "test:watch": "jest --watch",
    "test:coverage": "jest --coverage"
  },
  "dependencies": {
    "axios": "{{axiosVersion}}"
  },
  "devDependencies": {
    "@types/jest": "^29.5.14",
    "@types/node": "^20.0.0",
    "axios-mock-adapter": "^2.1.0",
    "jest": "^29.7.0",
    "ts-jest": "^29.2.5",
    "ts-node": "^10.9.2",
    "typescript": "^5.0.0"
  }
}
